.plus {
  position: relative;
  top: -8em;
}

.plus:hover {
  cursor: pointer;
}

.contact-form {
  width: 90%;
  margin: 0 auto;
}

.edit {
  position: relative;
  left: 70%;
  margin: 1em;
}

header nav ul li:last-child {
  float: right;
  font-size: 1.2em;
  top: 20px;
}

.form-user {
  width: 50%;
  margin: 0 auto;
  padding-top: 1em;
}

@media screen and (max-width: 767px) {
  header nav ul li:last-child {
    float: none;
    font-size: 1.5em;
    vertical-align: middle;
  }
}
