@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
}

.icon-enter:before {
  content: "\ea13";
}

.icon-list2:before {
	content: "\e9bd";
}

.icon-switch:before {
  content: "\e9b6";
}

.icon-user:before {
  content: "\e971";
}

.icon-pencil:before {
  content: "\e905";
}

.icon-bin:before {
  content: "\e9ac";
}
