@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.fullScreen {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 70px;
  margin: 0;
  background-attachment: fixed;
}

.largeScreen {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  padding-top: 70px;
  margin: 0;
  background-attachment: fixed;
}

/*
* PARA EL MENU
*/
header {
  left: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background: #77DD77;
}

header nav ul {
  margin: 0;
  height: 100%;
  color: #f7f7f7;
  text-align: center;
  font-weight: bold;
}

header nav ul li {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  top: 1.5em;
}

header nav ul li:first-child {
  float: left;
  top: -0.0em;
}

header nav ul li a:hover {
  color: #999;
}

nav a:link, nav a:visited {
  color: #F5F5F5;
  text-decoration: none;
}

header #logo img{
  background-color: transparent;
  width: 64px;
}
/*
* TERMINA EL MENU
*/

/*
* SLIDER
*/
.slider_container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #F5F5F5;
}

.slider_container .slideContainer {
  white-space: nowrap;
  height: 100%;
}

.slider_container .slideContainer .slide {
  display: inline-block;
  background-color: #fff;
  margin-right: -4px;
  vertical-align: top;
  background-size: 100%;
  background-position: bottom;
}
/*
* TERMINA EL SLIDER
*/

.column {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  width: 45%;
  padding: 1em;
}

.column-a {
  float: left;
}

.column-b {
  float: right;
}

.titulo {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.sub-titulo {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  text-align: center;
  width: 50%;
  margin: 1.5em auto;
}

.content-box {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  display: block;
  position: relative;
  padding: 2em;
  text-align: center;
}

.box {
  display: inline-block;
  position: relative;
  background-color: #fbfbfb;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  width: 25em;
  border: 1px solid #c8c8c8;
}

.box-title {
  height: 4em;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #FF6B01;
  text-align: center;
  vertical-align: 50%;
}

.box-content {
  padding: 1em;
  height: 15em;
  text-align: center;
}

#nosotros {
  background-image: url('../image/wallhaven-452628.jpg');
  color: #fff;
  text-shadow: 1px 1px #000;
}

#contactenos {
  background-image: url('../image/wallhaven-440428.jpg');
}

textarea {
  resize: none;
}

/* RESPONSIVE */

@media (max-width: 767px) {
  .column {
    width: 90%;
    margin: 0 auto;
  }

  .column-a, .column-b {
    float: none;
  }

  .box {
    width: 90%;
  }
}
